<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testapplication"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.testapplication.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.testapplication.DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName="com.example.testapplication.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.testapplication.MainActivity" />
        </activity>
        <activity
            android:name="com.example.testapplication.FAQActivity"
            android:label="@string/title_activity_faq"
            android:parentActivityName="com.example.testapplication.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.testapplication.MainActivity" />
        </activity>
        <activity
            android:name="com.example.testapplication.DirectionsActivity"
            android:label="@string/title_activity_directions"
            android:parentActivityName="com.example.testapplication.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.testapplication.MainActivity" />
        </activity>
        <activity
            android:name="com.example.testapplication.FindActivity"
            android:label="@string/title_activity_find"
            android:parentActivityName="com.example.testapplication.DirectionsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.testapplication.DirectionsActivity" />
        </activity>
    </application>

</manifest>